
html{
  background-image:url('train.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  height:100%;
}

.clean {
  background:transparent;
  position:absolute;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;


}

.title_bar{
  text-align: center;
  background-color: #000066;
  color: #ffffff;
}

.content_bar{

  color: #ffffff;
  padding: 15px;
}

.login_box{
  background-color: rgba(0,0,51,0.5);
  border-radius: 10px;
  position:absolute;
  right:100px;
  top:35%;
}

.login_box form{
  padding: 15px;
}

.email_box{
    margin-bottom: 5px;
}

.sign_up{
  text-align:center;
  text-decoration: underline;

}
.test{
  background-color:
}
.footer{
  position: fixed;
  bottom:0px;
  width: 100%;
  margin: 0px;
  color: #C8C8C8;
  padding: 15px;
  background: -webkit-linear-gradient(top, #000066 , #000033); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #000066, #000033); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #000066, #000033); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #000066 , #000033); /* Standard syntax (must be last) */
}
